@media (min-width: 1000px) {
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    padding: 10px;
  }
  
  nav img{
    width: 50px;
    margin-left: 20px;
  }
  nav a{
    color: rgb(179, 179, 179);
    text-decoration: none;
    padding: 0 10px;
    transition: color .3s ease;
  }
  nav a:hover{
    color: rgb(216, 216, 216);
    text-decoration: none;
    padding: 0 10px;
    transition: color .3s ease;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    padding: 10px;
  }
  
  nav img{
    width: 50px;
    margin-left: 20px;
  }
  nav a{
    color: rgb(179, 179, 179);
    text-decoration: none;
    padding: 0 10px;
    transition: color .3s ease;
  }
  nav a:hover{
    color: rgb(216, 216, 216);
    text-decoration: none;
    padding: 0 10px;
    transition: color .3s ease;
  }
}
@media only screen and (max-width: 700px){
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    padding: 10px;
  }
  
  nav img{
    width: 50px;
      margin-left: 10px;
  }
  nav a{
    color: rgb(179, 179, 179);
    text-decoration: none;
    padding: 0 10px;
    transition: color .3s ease;
    font-size: 12px;
  }
  nav a:hover{
    color: rgb(216, 216, 216);
    text-decoration: none;
    padding: 0 10px;
    transition: color .3s ease;
  }
}

