
@media (min-width: 1300px){
    a{
        width: fit-content;
    }
    .review-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .review-nav{
        margin: 20px auto 50px;
        display: grid;
        justify-content: center;
        align-items: center ;
        grid-template-columns: 3fr 3fr 2fr .2fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        width: 90%;
    }
    .review-title{
        text-align: right;
        font-size: 40px;
    }
    .thenx-canada{
        width: 500px;
        height: 110px;
        object-fit: cover;
        border-radius: 10px;
    }
    .review-subtitle{
        text-align: left;
        font-size: smaller;
    }
    .play-button{
        filter: invert();
        width: 30px;
        height: 30px;
        object-fit: cover;
        opacity: .7;
        transition: all .3s ease;
    }
    .play-button:hover{
        opacity: 1;
        transition: all .3s ease;
    }
    
    .review-tutorial{
        font-size: small;
    }
    
    
    /* review card*/
    .review-up, .review-down{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
    }
    .review-cards{  
        display: flex;
        overflow-x: scroll;
        width: 100%;
        padding: 10px;
    }
    .review-cards::-webkit-scrollbar{
        display: none;
    }
    .review-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px 20px;
        height: 300px;
        border: 1px solid rgb(94, 94, 94);
        padding: 20px;
        border-radius: 10px
    }
    .review-summary{
        font-size: small;
    }
    .review-review{
        font-size: medium;
        width: 300px;
        height: 100px;
        display: flex;
        align-items: center;
        border-top: 1px solid rgb(51, 51, 51);
        border-bottom: 1px solid rgb(51, 51, 51);
    }
    .review-stars{
        filter: invert();
        width: 80px;
    }
    .review-commenter{
     font-size: small;
    }
    .review-commenterWork{
     font-size: small;
     font-weight: 300;
     opacity: .8;
    }
    .review-card:first-child, .review-card:last-child{
        border: 2px solid rgb(154, 154, 154);
    }
}
@media (min-width: 500px) and (max-width: 1299px){
    a{
        width: fit-content;
    }
    .review-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .review-nav{
        margin: 0;
        display: grid;
        justify-content: center;
        align-items: center ;
        grid-template-rows: 60px 3fr 2fr 30px 10px;
        grid-template-columns: 1fr;
        gap: 10px;
        height: 380px;
    }
    .review-title{
        text-align: right;
        font-size: 30px;
        height: fit-content;
        margin: 0;
    }
    .thenx-canada{
        width: 500px;
        height: 110px;
        object-fit: cover;
        border-radius: 10px;
    }
    .review-subtitle{
        text-align: left;
        font-size: smaller;
    }
    .play-button{
        filter: invert();
        width: 30px;
        height: 30px;
        object-fit: cover;
        opacity: .7;
        transition: all .3s ease;
    }
    .play-button:hover{
        opacity: 1;
        transition: all .3s ease;
    }
    
    .review-tutorial{
        font-size: small;
    }
    
    
    /* review card*/
    .review-up, .review-down{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
    }
    .review-cards{  
        display: flex;
        overflow-x: scroll;
        width: 100%;
        padding: 10px;
    }
    .review-cards::-webkit-scrollbar{
        display: none;
    }
    .review-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px 20px;
        height: 300px;
        border: 1px solid rgb(94, 94, 94);
        padding: 20px;
        border-radius: 10px
    }
    .review-summary{
        font-size: small;
    }
    .review-review{
        font-size: medium;
        width: 300px;
        height: 100px;
        display: flex;
        align-items: center;
        border-top: 1px solid rgb(51, 51, 51);
        border-bottom: 1px solid rgb(51, 51, 51);
    }
    .review-stars{
        filter: invert();
        width: 80px;
    }
    .review-commenter{
     font-size: small;
    }
    .review-commenterWork{
     font-size: small;
     font-weight: 300;
     opacity: .8;
    }
    .review-card:first-child, .review-card:last-child{
        border: 2px solid rgb(154, 154, 154);
    }
}
@media only screen and (max-width: 499px){
    a{
        width: fit-content;
    }
    .review-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .review-nav{
        margin: 0;
        display: grid;
        justify-content: center;
        align-items: center ;
        grid-template-rows: 60px 3fr 2fr 30px 10px;
        grid-template-columns: 1fr;
        gap: 10px;
        height: 380px;
    }
    .review-title{
        text-align: right;
        font-size: 30px;
        height: fit-content;
        margin: 0;
    }
    .thenx-canada{
        width: 300px;
        height: 110px;
        object-fit: cover;
        border-radius: 10px;
    }
    .review-subtitle{
        text-align: left;
        font-size: smaller;
    }
    .play-button{
        filter: invert();
        width: 30px;
        height: 30px;
        object-fit: cover;
        opacity: .7;
        transition: all .3s ease;
    }
    .play-button:hover{
        opacity: 1;
        transition: all .3s ease;
    }
    
    .review-tutorial{
        font-size: small;
    }
    
    
    /* review card*/
    .review-up, .review-down{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
    }
    .review-cards{  
        display: flex;
        overflow-x: scroll;
        width: 100%;
        padding: 10px;
    }
    .review-cards::-webkit-scrollbar{
        display: none;
    }
    .review-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px 20px;
        height: 200px;
        border: 1px solid rgb(94, 94, 94);
        padding: 20px;
        border-radius: 10px
    }
    .review-summary{
        font-size: small;
    }
    .review-review{
        font-size: medium;
        width: 300px;
        height: 100px;
        display: flex;
        align-items: center;
        border-top: 1px solid rgb(51, 51, 51);
        border-bottom: 1px solid rgb(51, 51, 51);
    }
    .review-stars{
        filter: invert();
        width: 80px;
    }
    .review-commenter{
     font-size: small;
    }
    .review-commenterWork{
     font-size: small;
     font-weight: 300;
     opacity: .8;
    }
    .review-card:first-child, .review-card:last-child{
        border: 2px solid rgb(154, 154, 154);
    }
}
